<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Hello kawabase!</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
		<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
		<style>
			main { background-color: #eeeeee; }
			/* h1.title { font-size: 40px; } */
		</style>
	</head>
	
	<body>
		<nav class="navbar hero is-dark">
			<div class="navbar-brand">
				<div class="navbar-burger burger" data-target="my-navbar-menu">
					<span></span>
			  	</div>
			</div>
			<div id="my-navbar-menu" class="navbar-menu container">
				<div class="navbar-start">
					<div class="navbar-item">
						<h1 class="title"><span class="fas fa-arrow-alt-circle-up"></span>kawabase</h1>
					</div>
			  	</div>
			  	<!-- <div class="my-navbar-center">
					<h1 class="title"><span class="fas fa-arrow-alt-circle-up"></span>kawabase</h1>
					<div class="navbar-item"><img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28"></div>
				</div> -->
				<div class="navbar-end">
					<div class="navbar-item"><a href="#"><i class="fa fa-user"></i>ログイン</a></div>
					<input class="input" type="text" name="search" placeholder="キーワード検索">
					<a class="button is-info"><i class="fa fa-search"></i>検索</a>
				</div>
			</div>
		</nav>
		
		<section class="hero is-medium is-light is-bold4" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('https://media.giphy.com/media/8VkgrPdxMh0oo/giphy.gif')">
			<div class="hero-body has-text-centered">
				<div class="container">
					<h1 class="title has-text-white">
						Primary bold title
					</h1>
					<h2 class="subtitle has-text-white">
						Primary bold subtitle
					</h2>
				</div>
			</div>
		</section>

		<!-- <header class="navbar">
			<div class="navbar-brand">
				<span class="navbar-item">
					<span class="fas fa-arrow-alt-circle-up"></span>kawabase
				</span>
			</div>
			<div class="navbar-end">
			  <div class="navbar-item">
				  <div class="field has-addons">
					<div class="control">
						<input class="input" type="text" name="search" placeholder="キーワード検索">
					</div>
					<div class="control">
						<a class="button is-info"><i class="fa fa-search"></i>検索</a>
					</div>
				  </div>
				</div>
			  </div>
			  <div class="navbar-item">
				<a href="#"><i class="fa fa-user"></i>ログイン</a>
			  </div>
			</div>
		</header> -->

		<!-- 1. ヘッダ -->
		<!-- heroコンポーネント -->
		<!-- <section class="hero is-dark">
			<div class="hero-body">
				<div class="container">
					<h1 class="title">
						kawabase
					</h1>
					<h2 class="subtitle is-6">
					ヘッダは他に「navber」があるよ
					</h2>
				</div>
			</div>
		</section> -->

		<!-- <div class="hero is-info is-bold">
			<div class="hero-body">
				<div class="container">
				   <h1 class="title">CASAREAL</h1>
				   <h2 class="subtitle">@casareal-ls</h2>
				</div>
			</div>
		</div> -->

		<section class="level">
			<div class="level-left"></div>
			<div class="level-right">
			  <div class="level-item tabs">
				<ul>
				  	<li class="is-active"><a>最近の成長</a></li>
					<li><a>過去の成長</a></li>
					<li><a>コメント付き</a></li>
				  </ul>
			   </div>
			</div>
			<div class="level-right">
			  <div class="level-item">
				<!-- <a class="button is-greylight">フォロー</a> -->
			  </div>
			</div>
		</section>

		<main class="columns">
			<div class="submenu column is-3">
				<aside class="box">
					<span class="fas fa-arrow-alt-circle-up"></span>kawabaseは、人の成長を後押しするを目指したプラットフォームサービスです。
				</aside>
				<aside class="box menu">
					<p class="menu-label">
						私の成長日記
					</p>
					<ul class="menu-list">
						<li><a href="#" class="is-active">アクティビティ</a></a></li>
						<li><a href="#">成長ステップ</a></li>
						<li><a href="#">ツール</a></li>
					</ul>
					<p class="menu-label">
						キーワード
					</p>
					<ul class="menu-list">
						<li><a href="#">システム開発</a></li>
						<li><a href="#">技術教育</a>
							<ul>
							<li><a href="#">一社研修</a></li>
							<li><a href="#">定期開催コース</a></li>
							</ul>
						</li>
						<li><a href="#">ソフトウェアテスティング</a></li>
					</ul>
				</aside>
			</div>
			<div class="column">
				{% block content %}
				{% endblock %}
				<article class="box media">
					<figure class="media-left">
					<p class="image is-64x64">
						<img src="http://placehold.it/128x128">
					</p>
					</figure>
					<div class="media-content">
					<div class="content">
						<p><strong>CASAREAL</strong><br>
							内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容<br>
							<small><a>Like</a> · <a>Reply</a> · 3 hrs</small>
						</p>
					</div>
					<article class="media">
						<figure class="media-left">
							<p class="image is-48x48">
								<img src="http://placehold.it/96x96">
							</p>
						</figure>
						<div class="media-content">
							<div class="content">
								<p><strong>Sean Brown</strong><br>
								コメントコメントコメントコメントコメントコメントコメントコメントコメントコメント<br>
								<small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
								</p>
							</div>
							<article class="media">
								リプライリプライリプライリプライリプライリプライリプライリプライリプライリプライ。
							</article>
							<article class="media">
								リプライリプライリプライリプライリプライリプライリプライリプライリプライリプライ。
							</article>
						</div>
					</article>
					</div>
				</article>

				<article class="box media">
					<figure class="media-left">
						<p class="image is-48x48">
							<img src="http://placehold.it/96x96">
						</p>
					</figure>
					<div class="media-content">
						<div class="content">
							<p><strong>CASAREAL</strong><br>
								内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容<br>
								<small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
							</p>
						</div>
					</div>
				</article>

			</div>
		</main>

		<footer class="footer">
			<div class="container">
			  <div class="content has-text-centered">
				2020 ©kawabase
			  </div>
			</div>
		</footer>
		
	</body>
</html>