{% extends 'training_app/layout.html' %}

{% block content %}

<section class="hero is-medium is-bold4 is-dark">
    <div class="hero-body has-text-centered">
        <div class="container">
            <h1 class="title is-1">
                <span class="fas fa-arrow-alt-circle-up"></span>kawabase
            </h1>
            <h2 class="subtitle is-4">
                <span class="fas fa-arrow-alt-circle-up"></span>kawabaseは、人の成長を後押しするプラットフォームサービスです。
            </h2>
            <a class="button is-success">Learn More</a>
        </div>
    </div>
</section>

<div class="notification" style="background-color : #eeeeee;"></div>
<div class="tile is-ancestor">
    <div class="tile is-parent">
        <article class="tile is-child box">
            <p class="title">10km走</p>
            <p class="subtitle">What is up?</p>
            <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/640x480.png">
            </figure>
            <a class="button is-success">Learn More</a>
        </article>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child box">
            <p class="title">20km走</p>
            <p class="subtitle">Bar</p>
            <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/640x480.png">
            </figure>
        </article>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child box">
            <p class="title">Third column</p>
            <p class="subtitle">With some content</p>
            <div class="content">
                <p>fa.</p>
            </div>
        </article>
    </div>
</div>

{% endblock %}

