{% extends 'training_app/layout.html' %}

{% block content %}

{% if latest_training_list %}

<section class="hero is-medium is-info">
    <div class="hero-body has-background-grey has-text-centered">
        <div class="container">
            <h1 class="title">
                Primary bold title
            </h1>
            <h2 class="subtitle">
                Primary bold subtitle
            </h2>
        </div>
    </div>
</section>

<section class="level">
    <div class="level-left"></div>
    <div class="level-right">
      <div class="level-item tabs">
        <ul>
              <li class="is-active"><a>最近の成長</a></li>
            <li><a>過去の成長</a></li>
            <li><a>コメント付き</a></li>
          </ul>
       </div>
    </div>
    <div class="level-right">
      <div class="level-item">
      </div>
    </div>
</section>

<main class="columns">
    <div class="submenu column is-3">
        <aside class="box">
            <span class="fas fa-arrow-alt-circle-up"></span>kawabaseは、人の成長を後押しするを目指したプラットフォームサービスです。
        </aside>
        <aside class="box menu">
            <p class="menu-label">
                私の成長日記
            </p>
            <ul class="menu-list">
                <li><a href="#" class="is-active">アクティビティ</a></a></li>
                <li><a href="#">成長ステップ</a></li>
                <li><a href="#">ツール</a></li>
            </ul>
            <p class="menu-label">
                キーワード
            </p>
            <ul class="menu-list">
                <li><a href="timeline">タイムライン</a></li>
                <li><a href="#">技術教育</a>
                    <ul>
                    <li><a href="#">一社研修</a></li>
                    <li><a href="#">定期開催コース</a></li>
                    </ul>
                </li>
                <li><a href="#">ソフトウェアテスティング</a></li>
            </ul>
        </aside>
    </div>
    <div class="column">

    {% for training in latest_training_list %}
    <article class="box media">
        <figure class="media-left">
            <p class="image is-48x48">
                <img src="http://placehold.it/96x96">
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <p><strong><a href="/training_app/{{ training.id }}/">{{ training.training_menu }}</a></strong><br>
                    内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容<br>
                    <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
                </p>
            </div>
        </div>
    </article>
    {% endfor %}

{% else %}
    <p>No Trainings are available.</p>
{% endif %}


{% endblock %}